.flag {

    .rectangular {
        background-color: green;
        width: 200px;
        height: 100px;
        position: relative;

        .circle {
            border-radius: 50%;
            width: 70px;
            height: 70px;
            background-color: red;
            border: 1px solid blue;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    button {
        border-radius: 20px;
        background-color: rgb(28, 28, 152);
        padding: 10px 30px;
        border: unset;
        color: white;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            background-color: rgb(100, 4, 30);
        }
    }
}